---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
NamespaceIndentation: None
WrapNamespaceBodyWithEmptyLines: Always
IndentCaseLabels: false

ColumnLimit: 80
ReflowComments: true

PointerAlignment: Left
ReferenceAlignment: Pointer
DerivePointerAlignment: false

BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
LambdaBodyIndentation: OuterScope
AllowShortLoopsOnASingleLine: false

AlignAfterOpenBracket: true
AlignOperands: DontAlign
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignFunctionDeclarations: true
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true

BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: CurrentLine
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: true
SpaceBeforeCpp11BracedList: true
BreakAfterOpenBracketBracedList: true
BreakBeforeCloseBracketBracedList: true

IncludeBlocks: Regroup
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<'
    Priority: 2

SortUsingDeclarations: Never
FixNamespaceComments: true
ShortNamespaceLines: 0
MaxEmptyLinesToKeep: 1
